# C/Embedded build artifacts
*.o
*.a
*.elf
*.bin
*.hex
*.d
*.map

# Build directories
build/
07_Virtual_Simulation/build/

# IDE files to exclude
*.vscode/
*.idea/
*.project
*.cproject
*.settings/
*.sublime-project
*.sublime-workspace
# Others
.DS_Store
Thumbs.db
